<h1 class="page-title"> 北斗卫星 数据分析 </h1>
<div class="page-bar" style="margin-bottom: 0;height: 5px">
    <div class="loading" style="background: #4271ff;height: 5px;z-index: 99999;display:none"></div>
</div>
<div class="page-bar" style="margin-bottom:0 ">
    <div class="row" style="padding: 5px 15px;">
        <div class="col-md-12 col-sm-12">
            <div>时间选择：</div>
        </div>
        <div class="col-md-5 col-sm-5" >

            <div class="controls">
                <div id="reportrange" class="pull-left dateRange" style="width:350px;margin-bottom:5px">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span id="searchDateRange"></span>
                    <b class="caret"></b>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3" style="margin:0;">
            <div class="form-group">
                <select id='station' ng-model="station" class='form-control select2'>
                    <option ng-if="!isAdmin"  value={{stationInfoId}} selected>{{stationInfoName}}</option>
                    <option ng-if="isAdmin" value='{{blankStation.staId}}' ng-repeat='blankStation in allStations'>{{blankStation.name}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 " style="margin-bottom: 5px" >
            <button class="col-md-8 btn btn-circle green" ng-click="findData()" ng-model="mySwitch" ng-disabled="handleStop"> 查 询</button>
        </div>
        <div class="col-md-2 col-sm-2 ">
            <button class="col-md-8 btn btn-circle green"  ng-disabled="!mySwitch" ng-click="stopData()"> 暂 停</button>
        </div>

        <div class="col-md-12 col-xs-12 col-sm-12">
            <label>定位系统: </label>
            <input type="checkbox" name="sys" value= 2  ng-click="setOptions()" ng-model ='sys.BDS'> BDS
            <input type="checkbox" name="sys" value= 0  ng-click="setOptions()" ng-model='sys.GPS'> GPS
            <input type="checkbox" name="sys" value= 1  ng-click="setOptions()" ng-model='sys.GLS'> GLS
            <input type="checkbox" name="sys" value= 3  ng-click="setOptions()" ng-model='sys.GROUP'> 组合
        </div>

        <div id='options' class="col-md-12 col-xs-12 col-sm-12">
            <label>统计选项: </label>
            <input type="checkbox" name="sat_hist" ng-checked="{{option['sat_hist']}}"> 卫星数
            <input type="checkbox" name="err_hist"  ng-checked="{{option['err_hist']}}"> 定位误差
            <input type="checkbox" name="dop_hist" ng-checked="{{option['dop_hist']}}"> DOP值
            <input type="checkbox" name="PL_hist" ng-checked="{{option['PL_hist']}}"> 保护水平
            <input type="checkbox" name="hpl_num" ng-disabled = optionsAble.hpl_num_is_able ng-checked="{{filter.option['hpl_num']}}"> HPL超限时间
            <input type="checkbox" name="vpl_num" ng-disabled = optionsAble.vpl_num_is_able  ng-checked="{{filter.option['vpl_num']}}"> VPL超限时间

        </div>

    </div>
    <div class="portlet-body form">
        <div class="form-horizontal" >
            <div class="form-body">

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">水平误差：</label>
                    <div class="col-md-5">
                        <input type="number" class="form-control" ng-model="threshold.dH"  ng-readonly="isReadonly" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">垂直误差：</label>
                    <div class="col-md-5    ">
                        <input type="number" class="form-control " ng-model="threshold.dV"  ng-readonly="isReadonly" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">HDOP：</label>
                    <div class="col-md-5    ">
                        <input type="number" class="form-control "ng-model="threshold.HDOP" ng-readonly="isReadonly" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">VDOP：</label>
                    <div class="col-md-5    ">
                        <input type="number" class="form-control " ng-model="threshold.VDOP"  ng-readonly="isReadonly" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">HPL：</label>
                    <div class="col-md-5    ">
                        <input type="number" class="form-control " ng-model="threshold.HPL"  ng-readonly="isReadonly" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">VPL：</label>
                    <div class="col-md-5    ">
                        <input type="number" class="form-control" ng-model="threshold.VPL"  ng-readonly="isReadonly" placeholder="max值">
                    </div>
                </div>
                <div class="form-actions" ng-show="isAdmin">
                <div class="row">
                    <div class="col-lg-offset-5 col-md-offset-4">
                        <button class="btn btn-circle green col-md-4" ng-click="commitThreshold()"> 保 存 </button>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</div>

<div id="dataStatisticsChartLoding" class="display-none" style="margin-left: 20px" >
    <img src="assets/img/loading.gif" alt="loading"/></div>
<div class="row" id="dataStatisticsChart" style="opacity: 0">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="StaNum_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">卫星数统计图</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="StaNum_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="StaNum_content" class="display-none">
                            <div id="StaNum" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="VErrHist_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="VErrHist_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="VErrHist_content" class="display-none">
                            <div id="VErrHist" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="HErrHist_container">
                <div class="portlet light ">
                    <div class="portlet-title" id="_width">
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">垂直误差</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="HErrHist_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="HErrHist_content" class="display-none">
                            <div id="HErrHist" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="Vdop_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">VDOP</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="Vdop_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="Vdop_content" class="display-none">
                            <div id="Vdop" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="Hdop_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">HDOP</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="Hdop_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="Hdop_content" class="display-none">
                            <div id="Hdop" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="VPL_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">VPL</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="VPL_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="VPL_content" class="display-none">
                            <div id="VPL" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="HPL_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">HPL</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="HPL_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="HPL_content" class="display-none">
                            <div id="HPL" class="chart" style=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="BDSVPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">BDS VPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="BDSVPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="BDSVPLTime_content" class="display-none">
                            <div id="BDSVPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="BDSHPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">BDS HPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="BDSHPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="BDSHPLTime_content" class="display-none">
                            <div id="BDSHPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GPSVPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">GPS VPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GPSVPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GPSVPLTime_content" class="display-none">
                            <div id="GPSVPLTime" class="chart" style=""><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GPSHPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">GPS HPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GPSHPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GPSHPLTime_content" class="display-none">
                            <div id="GPSHPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GLSVPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">GLS VPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GLSVPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GLSVPLTime_content" class="display-none">
                            <div id="GLSVPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GLSHPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">GLS HPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GLSHPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GLSHPLTime_content" class="display-none">
                            <div id="GLSHPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GroupVPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">组合 VPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GroupVPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GroupVPLTime_content" class="display-none">
                            <div id="GroupVPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="GroupHPLTime_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">组合 HPL超限时间</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="GroupHPLTime_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="GroupHPLTime_content" class="display-none">
                            <div id="GroupHPLTime" class="chart" style="height: 350px;"><img src=""></div>
                        </div>
                    </div>
                </div>
            </div>







            <div class="col-md-12 col-xs-12 col-sm-12 display-none" id="content_container">
                <div class="portlet light ">
                    <div class="portlet-title" >
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">定位统计</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="content_loading" class="display-none">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="content_content" >
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td></td>
                                    <th> 水平精度</th>
                                    <th> 垂直精度</th>
                                    <th> 连续性</th>
                                    <th> 可用性</th>
                                    <th> 完好性</th>

                                </tr>
                                </thead>

                                <tbody id="startInfo">
                                <tr ng-repeat="(key, value) in processResult" ng-model="processResult">
                                    <td>{{sysNav[key]}}</td>
                                    <td>{{value.acc95_h.mean}} </td>
                                    <td>{{value.acc95_v.mean}} </td>
                                    <td>{{value.continuity}} </td>
                                    <td>{{value.availability}} </td>
                                    <td>{{value.integrity}} </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

