<h1 class="page-title"> 北斗卫星 数据面板 </h1>
<h4>UTC时刻: {{utcTime}}</h4>


<!--主页系统图-->
<div class="table-responsive col-lg-12 col-xs-12 col-sm-12">
    <table class="table">
        <thead>
        <tr style="text-align: center">
            <th></th>
            <th>经度</th>
            <th>维度</th>
            <th>高程</th>
            <th>定位卫星数</th>
            <th>跟踪卫星数</th>
            <th>故障星号</th>
            <th>HDOP</th>
            <th>VDOP</th>
            <th>水平误差</th>
            <th>垂直误差</th>
            <th>HPL</th>
            <th>VPL</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center">
            <td>北斗</td>
            <td>{{bdInfo.Lon.toFixed(6)}}</td>
            <td >{{bdInfo.Lat.toFixed(6)}}</td>
            <td>{{bdInfo.H.toFixed(2)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{bdInfo.posNum}}</span>
                </div>
            </td>
            <td>{{bdInfo.trackNum}}</td>
            <td>{{bdInfo.exsats}}</td>
            <td>{{bdInfo.HDOP.toFixed(6)}}</td>
            <td>{{bdInfo.VDOP.toFixed(6)}}</td>
            <td>{{bdInfo.dX.toFixed(6)}},{{bdInfo.dY.toFixed(6)}}</td>
            <td>{{bdInfo.dZ.toFixed(6)}}</td>
            <td>{{bdInfo.HPL.toFixed(6)}}</td>
            <td>{{bdInfo.VPL.toFixed(6)}}</td>
        </tr>
        <tr style="text-align: center">
            <td>GPS</td>
            <td>{{gpInfo.Lon.toFixed(6)}}</td>
            <td >{{gpInfo.Lat.toFixed(6)}}</td>
            <td>{{gpInfo.H.toFixed(2)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{gpInfo.posNum}}</span>
            </div>
            </td>
            <td>{{gpInfo.trackNum}}</td>
            <td>{{gpInfo.exsats}}</td>
            <td>{{gpInfo.HDOP.toFixed(6)}}</td>
            <td>{{gpInfo.VDOP.toFixed(6)}}</td>
            <td>{{gpInfo.dX.toFixed(6)}},{{gpInfo.dY.toFixed(6)}}</td>
            <td>{{gpInfo.dZ.toFixed(6)}}</td>
            <td>{{gpInfo.HPL.toFixed(6)}}</td>
            <td>{{gpInfo.VPL.toFixed(6)}}</td>
        <tr style="text-align: center">
            <td>GLONASS</td>
            <td>{{glInfo.Lon.toFixed(6)}}</td>
            <td >{{glInfo.Lat.toFixed(6)}}</td>
            <td>{{glInfo.H.toFixed(2)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{glInfo.posNum}}</span>
            </div>
            </td>
            <td>{{glInfo.trackNum}}</td>
            <td>{{glInfo.exsats}}</td>
            <td>{{glInfo.HDOP.toFixed(6)}}</td>
            <td>{{glInfo.VDOP.toFixed(6)}}</td>
            <td>{{glInfo.dX.toFixed(6)}},{{glInfo.dY.toFixed(6)}}</td>
            <td>{{glInfo.dZ.toFixed(6)}}</td>
            <td>{{glInfo.HPL.toFixed(6)}}</td>
            <td>{{glInfo.VPL.toFixed(6)}}</td>
        <tr style="text-align: center">
            <td>组合</td>
            <td>{{groupInfo.Lon.toFixed(6)}}</td>
            <td >{{groupInfo.Lat.toFixed(6)}}</td>
            <td>{{groupInfo.H.toFixed(2)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{groupInfo.posNum}}</span>
            </div>
            </td>
            <td>{{groupInfo.trackNum}}</td>
            <td>{{groupInfo.exsats}}</td>
            <td>{{groupInfo.HDOP.toFixed(6)}}</td>
            <td>{{groupInfo.VDOP.toFixed(6)}}</td>
            <td>{{groupInfo.dX.toFixed(6)}},{{groupInfo.dY.toFixed(6)}}</td>
            <td>{{groupInfo.dZ.toFixed(6)}}</td>
            <td>{{groupInfo.HPL.toFixed(6)}}</td>
            <td>{{groupInfo.VPL.toFixed(6)}}</td>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div id="chartBox" class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">星空图</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="starMap_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="starMap_content" class="display-none">
                            <div id="starMap" class="chart" style="height: 350px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(GPS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="gpsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="gpsSNY_content" class="display-none">
                            <div id="gpsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(GLONASS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="glsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="glsSNY_content" class="display-none">
                            <div id="glsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(北斗)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="bdsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"></div>
                        <div id="bdsSNY_content" class="display-none">
                            <div id="bdsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(GPS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="gpsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="gpsDxDy_content" class="display-none">
                            <div id="gpsDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(GLONASS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="glsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="glsDxDy_content" class="display-none">
                            <div id='glsDxDy' class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(北斗)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="dbsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="dbsDxDy_content" class="display-none">
                            <div id="dbsDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(组合)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="groupDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="groupDxDy_content" class="display-none">
                            <div id="groupDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
          e

            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title" id="_width">
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">高程</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="H_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="H_content" class="display-none">
                            <div id="H" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

