<h1 class="page-title"> 北斗卫星 数据面板 </h1>
<h4>UTC时刻: {{utcTime}}</h4>


<!--主页系统图-->
<div class="table-responsive col-lg-12 col-xs-12 col-sm-12">
    <table class="table" height="250px">
        <thead>
        <tr style="text-align: center">
            <th></th>
            <th>经度</th>
            <th>纬度</th>
            <th>高程</th>
            <th>定位卫星数</th>
            <th>跟踪卫星数</th>
            <th>故障星号</th>
            <th>HDOP</th>
            <th>VDOP</th>
            <th>水平误差</th>
            <th>垂直误差</th>
            <th>HPL</th>
            <th>VPL</th>
        </tr>
        </thead>
        <tbody>
        <tr style="text-align: center">
            <td>北斗</td>
            <td>{{showCompany(bdInfo.Lon)}}</td>
            <td >{{showCompany(bdInfo.Lat)}}</td>
            <td>{{showValueTwo(gpInfo.H)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{showValue(bdInfo.posNum)}}</span>
                </div>
            </td>
            <td>{{showValue(bdInfo.trackNum)}}</td>
            <td>{{showValue(bdInfo.exsats)}}</td>
            <td>{{handleDataSix(bdInfo.HDOP)}}</td>
            <td>{{handleDataSix(bdInfo.VDOP)}}</td>
            <td>{{handleDataReplace(bdInfo.dH)}}</td>
            <td>{{handleDataReplace(bdInfo.dV)}}</td>
            <td>{{handleDataSix(bdInfo.HPL)}}</td>
            <td>{{handleDataSix(bdInfo.VPL)}}</td>
        </tr>
        <tr style="text-align: center">
            <td>GPS</td>
            <td>{{showCompany(bdInfo.Lon)}}</td>
            <td >{{showCompany(bdInfo.Lat)}}</td>
            <td>{{showValueTwo(gpInfo.H)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{showValue(bdInfo.posNum)}}</span>
            </div>
            </td>
            <td>{{showValue(bdInfo.trackNum)}}</td>
            <td>{{showValue(bdInfo.exsats)}}</td>
            <td>{{handleDataSix(bdInfo.HDOP)}}</td>
            <td>{{handleDataSix(bdInfo.VDOP)}}</td>
            <td>{{handleDataReplace(bdInfo.dH)}}</td>
            <td>{{handleDataReplace(bdInfo.dV)}}</td>
            <td>{{handleDataSix(bdInfo.HPL)}}</td>
            <td>{{handleDataSix(bdInfo.VPL)}}</td>
        <tr style="text-align: center">
            <td>GLONASS</td>
            <td>{{showCompany(bdInfo.Lon)}}</td>
            <td >{{showCompany(bdInfo.Lat)}}</td>
            <td>{{showValueTwo(gpInfo.H)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{showValue(bdInfo.posNum)}}</span>
            </div>
            </td>
            <td>{{showValue(bdInfo.trackNum)}}</td>
            <td>{{showValue(bdInfo.exsats)}}</td>
            <td>{{handleDataSix(bdInfo.HDOP)}}</td>
            <td>{{handleDataSix(bdInfo.VDOP)}}</td>
            <td>{{handleDataReplace(bdInfo.dH)}}</td>
            <td>{{handleDataReplace(bdInfo.dV)}}</td>
            <td>{{handleDataSix(bdInfo.HPL)}}</td>
            <td>{{handleDataSix(bdInfo.VPL)}}</td>
        <tr style="text-align: center">
            <td>组合</td>
            <td>{{showCompany(bdInfo.Lon)}}</td>
            <td >{{showCompany(bdInfo.Lat)}}</td>
            <td>{{showValueTwo(gpInfo.H)}}</td>
            <td><div class="number">
                <span data-counter="counterup" >{{showValue(bdInfo.posNum)}}</span>
            </div>
            </td>
            <td>{{showValue(bdInfo.trackNum)}}</td>
            <td>{{showValue(bdInfo.exsats)}}</td>
            <td>{{handleDataSix(bdInfo.HDOP)}}</td>
            <td>{{handleDataSix(bdInfo.VDOP)}}</td>
            <td>{{handleDataReplace(bdInfo.dH)}}</td>
            <td>{{handleDataReplace(bdInfo.dV)}}</td>
            <td>{{handleDataSix(bdInfo.HPL)}}</td>
            <td>{{handleDataSix(bdInfo.VPL)}}</td>
        </tbody>
    </table>
</div>
<div class="row" >
    <div class="col-md-12">
        <div class="row">
            <div id="chartBox" class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">星空图</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="starMap_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="starMap_content" class="display-none">
                            <div id="starMap" class="chart" style="height: 700px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <!-- BEGIN PORTLET-->
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(北斗)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="bdsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"></div>
                        <div id="bdsSNY_content" class="display-none">
                            <div id="bdsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET-->
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(GPS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="gpsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="gpsSNY_content" class="display-none">
                            <div id="gpsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">载噪比(GLONASS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="glsSNY_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="glsSNY_content" class="display-none">
                            <div id="glsSNY" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(北斗)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="bdsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="bdsDxDy_content" class="display-none">
                            <div id="bdsDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(GPS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="gpsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="gpsDxDy_content" class="display-none">
                            <div id="gpsDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(GLONASS)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="glsDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="glsDxDy_content" class="display-none">
                            <div id='glsDxDy' class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-red-sunglo hide"></i>
                            <span class="caption-subject font-dark bold uppercase">水平误差图(组合)</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="groupDxDy_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="groupDxDy_content" class="display-none">
                            <div id="groupDxDy" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="portlet light ">
                    <div class="portlet-title" id="_width">
                        <div class="caption">
                            <i class="icon-settings font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">高程</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="H_loading">
                            <img src="assets/img/loading.gif" alt="loading"/></div>
                        <div id="H_content" class="display-none">
                            <div id="H" class="chart" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

