<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">卫星信息</span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                    <tr>
                        <th> 卫星编号</th>
                        <th> 健康度</th>
                        <th> 仰角</th>
                        <th> 方位角</th>
                        <th> URA</th>
                        <th> RURA</th>
                        <th> UDRA</th>
                        <th> 周计数</th>
                        <th> 周内秒</th>
                        <th> 时间戳</th>
                    </tr>
                    </thead>

                    <tbody id="startInfo">
                        <tr ng-repeat="star in starInfo" ng-model="stationsInfo">
                            <td>{{ star.sat }}</td>
                            <td>{{ star.svh }}</td>
                            <td>{{ star.Ele }}</td>
                            <td>{{ star.Azi }}</td>
                            <td>{{ star.ura }}</td>
                            <td>{{ star.rura }}</td>
                            <td>{{ star.udre }}</td>
                            <td>{{ star.week }}</td>
                            <td>{{ star.tow }}</td>
                            <td>{{star.time}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div ng-show="showDataloading" style="margin-left: 10px">
                <img src="assets/img/loading.gif" alt="loading"/></div>
        </div>
    </div>
</div>