<div class="row">
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings"></i>阈值报警设置 </div>
    </div>
    <div class="portlet-body form">
        <form class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">基站名：</label>
                    <div class="col-md-5">
                        <select id='station' class='form-control select2' ng-model="station" ng-change="getStationThreshold()">
                        <option ng-repeat='blankStation in allStations' value={{blankStation.sta_id}}>{{blankStation.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">基站名：</label>
                    <div class="col-md-5">
                        <select id='signal' class='form-control select2' ng-model="signal" ng-change="getStationThreshold()">
                            <option ng-repeat='(key, signal) in allSingal' value={{key}}>{{signal}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">水平误差：</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" ng-model="test.staNumThresholdMax"  placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">垂直误差：</label>
                    <div class="col-md-5    ">
                        <input type="text" class="form-control " ng-model="test.pdopThresholdMax" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">HDOP：</label>
                    <div class="col-md-5    ">
                        <input type="text" class="form-control "ng-model="test.absoluteThresholdMax" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">VDOP：</label>
                    <div class="col-md-5    ">
                        <input type="text" class="form-control " ng-model="test.posaccThresholdMax" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">HPL：</label>
                    <div class="col-md-5    ">
                        <input type="text" class="form-control " ng-model="test.protectionLevelThresholdMax" placeholder="max值">
                    </div>


                </div>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">VPL：</label>
                    <div class="col-md-5    ">
                        <input type="text" class="form-control" ng-model="test.protectionLevelThresholdMax" placeholder="max值">
                    </div>


                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-lg-offset-5 col-md-offset-4">
                        <button class="btn btn-circle green col-md-4" ng-click="commitThreshold('','')"> 保 存 </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>