<h1 class="page-title"> 历史警告信息查询 </h1>
<div class="page-bar" style="margin-bottom: 0;height: 5px">
    <div class="loading" style="background: #4271ff;height: 5px;z-index: 99999;display:none"></div>
</div>
<div class="page-bar">
    <div class="row">
        <div class="col-md-5" style="margin: 10px 10px 20px 10px;">
            <div>时间选择：</div>
            <div class="controls">
                <div id="reportrange" class="pull-left dateRange" style="width:350px;margin-bottom: 5px">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span id="searchDateRange"></span>
                    <b class="caret"></b>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin: 28px 10px 20px 10px;">
            <div class="form-group">
                <select id='station' class='form-control select2'>
                    <option ng-if="!isAdmin" ng-model="station" value={{stationInfoId}} selected>{{stationInfoName}}</option>
                    <option ng-if="isAdmin" value='{{blankStation.staId}}' ng-repeat='blankStation in $parent.allStations'>{{blankStation.name}}</option>
                </select>
            </div>
        </div>


        <div class="col-md-2" style="margin: 28px 10px 20px 10px;">
            <button class="col-md-8 btn btn-circle green" ng-click="findData()"> 查 询</button>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 ng-hide" id='warning' style="margin: 0 10px 10px 10px;">
            <div id="wait">
                数据查询中请稍后。。。
            </div>
            <div id="success">
                数据查询结束。。。
            </div>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12"style="margin: 0 10px 10px 10px;">
            <label>定位系统: </label>
            <input type="checkbox" name="sys" value= 2 ng-checked="{{filter.sys[2]}}"> BDS
            <input type="checkbox" name="sys" value= 0 ng-checked="{{filter.sys[0]}}"> GPS
            <input type="checkbox" name="sys" value= 1 ng-checked="{{filter.sys[1]}}"> GLS

            <input type="checkbox" name="sys" value= 3 ng-checked="{{filter.sys[3]}}"> 组合
        </div>

        <div id='options' class="col-md-12 col-xs-12 col-sm-12"style="margin: 0 10px 10px 10px;">
            <label>统计选项: </label>

            <input type="checkbox" name="dH"  ng-checked="{{filter.types['dH']}}"> 水平误差
            <input type="checkbox" name="dV" ng-checked="{{filter.types['dV']}}"> 垂直误差
            <input type="checkbox" name="HDOP" ng-checked="{{filter.types['HDOP']}}"> HDOP
            <input type="checkbox" name="VDOP"  ng-checked="{{filter.types['VDOP']}}"> VDOP
            <input type="checkbox" name="HPL" ng-checked="{{filter.types['HPL']}}"> HPL
            <input type="checkbox" name="VPL" ng-checked="{{filter.types['VPL']}}"> VPL

        </div>

    </div>
</div>




