<div class="page-sidebar navbar-collapse collapse" ng-model='width'>
    <ul  class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu "  data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li id="dashboard" class="nav-item">
            <a ng-show="width" class="nav-link nav-toggle" ng-click="dataConnect('dashboard')" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-home"></i>
                <span class="title">监控面板</span>
            </a>
            <a ng-hide="width" class="nav-link nav-toggle" ng-click="dataConnect('dashboard')" >
                <i class="icon-home"></i>
                <span class="title">监控面板</span>
            </a>
        </li>

        <li  id="stardata" class="nav-item">
            <a ng-show="width" ng-click="dataConnect('stardata')"  data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-bar-chart"></i>
                <span class="title">原始数据</span>
            </a>
            <a ng-hide="width" ng-click="dataConnect('stardata')" >
                <i class="icon-bar-chart"></i>
                <span class="title">原始数据</span>
            </a>
        </li>
        <li id="blank" class="nav-item" >
            <a ng-show="width" ng-click="dataConnect('blank')"  data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-bar-chart"></i>
                <span class="title">数据分析</span>
            </a>
            <a ng-hide="width" ng-click="dataConnect('blank')" >
                <i class="icon-bar-chart"></i>
                <span class="title">数据分析</span>
            </a>
        </li>

        <li id="datahandle" class="nav-item">
            <a ng-show="width"ng-click="dataConnect('datahandle')" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-bulb"></i>
                <span class="title">基准点坐标设置</span>
            </a>
            <a  ng-hide="width" ng-click="dataConnect('datahandle')" >
                <i class="icon-bulb"></i>
                <span class="title">基准点坐标设置</span>
            </a>
        </li>

        <li id="threshold" class="nav-item">
            <a ng-show="width"ng-click="dataConnect('threshold')" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-bulb"></i>
                <span class="title">阈值报警设置</span>
            </a>
            <a  ng-hide="width" ng-click="dataConnect('threshold')" >
                <i class="icon-bulb"></i>
                <span class="title">阈值报警设置</span>
            </a>
        </li>

        <li id="warning" class="nav-item" >
            <a ng-show="width" ng-click="dataConnect('warning')" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="glyphicon-cloud"></i>
                <span class="title">告警查询</span>
            </a>

            <a ng-hide="width" ng-click="dataConnect('warning')" >
                <i class="glyphicon-cloud"></i>
                <span class="title">告警查询</span>
            </a>
        </li>
        <li id="administrator" class="nav-item" >
            <a ng-show="width" ng-click="dataConnect('administrator')" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="icon-user"></i>
                <span class="title">用户设置</span>
            </a>

            <a ng-hide="width" ng-click="dataConnect('administrator')">
                <i class="icon-user"></i>
                <span class="title">用户设置</span>
            </a>
        </li>


    </ul>

</div>
<style type="text/css">

</style>
